// variables
$lora-font: Lora

header 
  padding: 10px 50px 0 50px
  display: block
  overflow: auto
  border-bottom: 1px solid #cfcfcf

  h1
    float: left
    font:  $lora-font
    font-size: 1.5em
    font-family: serif
    font-weight: 100

  nav 
    float: right
    margin-top: 25px

    a 
      color: black 
      font: 100% $lora-font 
      text-decoration: none
      font-size: 1em 
      margin-left: 15px

@media screen and (max-width: 730px) 
  header
      h1
          width: 42%      
      