div
    h1
        font-size: 25px
        margin-top: 0px
        width: 25%
        display: inline
        margin-left: -8 px

.menu-main_menu-container 
    ul
        width: 80%
        margin: -20px 80px
        font-size: small
        li
            font-size: 12px
            width: 32%
            display: inline

article
    margin-bottom: -120px
    h2
        font-weight: 100
        margin-left: 8%
        width: 25%
    h3
        color: #dfdfdf
        margin-left: 100px
        font-weight: 100
        font-size: 25px
        width: 30%
        
    >div
        width: 107%
        display: flex
        justify-content: space-between
        flex-flow: row
        
nav
    padding-left: 23%
    width: 50%
    text-align: center
    
.post-meta
    list-style: none
    .post-meta-key
        display: none
    li:nth-child(2)
        color: grey
    + img
        width: 100%
        object-fit: cover
        height 32rem

.titleHeadings:nth-child(n)
    display: none

.attachment-post-thumbnail.size-post-thumbnail.wp-post-image
    margin-top: 200px
    width: 100%
    height: auto
    + h2
        text-align: center
        display: block
        margin: 0 auto
        width: 20%
        margin-top: 95px
        border-top: 1px solid
        padding-top: 45px
        border-color: lightblue

.secondPar
     text-align: inherit
     font-size: 20px
     font-weight: 100

.fishSpan
    margin-left: 29%
    font-size: 17px        


.images
    width: 100%
    margin: 58px auto
    padding: 55px 0
    columns: 150px 7

    img 
        width: 99%
        height: auto
        padding: 15px 0