h1
    font-size: 21px
    margin-top: 20px
    width: 50%
    display: inline

.menu-main_menu-container 
    ul
        width: 125%
        li
            font-size: 20px
            width: 32%
            
            display: inline
header
    width: 100%
    >div
        width: 100%
        display: flex
        justify-content: space-between
        flex-flow: row
nav
    padding-left: 32%
    width: 50%
    text-align: center
.post-meta
    list-style: none
    .post-meta-key
        display: none
    li:nth-child(2)
        color: grey
    + img
        width: 100%
        object-fit: cover
        height 32rem
.attachment-post-thumbnail.size-post-thumbnail.wp-post-image
    width: 100%

footer
    background-color: #4dabff
    .container
        display: flex
        flex-flow: row
        justify-content: space-between
        align-items: center
        h2
            width: 50%  
